body {
  font-family: 'Inter', sans-serif;
  color: #333333;
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: #333333;
  text-decoration: none;
}

.app {
  margin: auto;
  max-width: 414px;
  padding: 16px;
  padding-bottom: 64px;
}
