.news-item-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  max-width: 382px;
  max-height: 90px;

  font-family: 'Inter', sans-serif;
  font-style: normal;
}

.news-item-poster {
  width: 135px;
  height: 90px;
  border-radius: 4px;
}

.news-item-description {
  height: 90px;
  margin-left: 8px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.news-item-time {
  justify-self: flex-end;
}

.news-item-time,
.news-item-category {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  color: #a2a2a2;
}

.news-item-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  height: 100%;

  color: #444444;
}
